@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(fundo.jpg);
    background-size: cover;
    overflow:hidden
}

input{
    width: 100%;
    padding: 1vh;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;

}

label{
    position: absolute;
    left: 0;
    top: 0;
    padding: 7px;
    color: #fff;
    cursor: text;
    transition: 0.2s;
}

h4, h2{
    color: #fff;
}

.personalizado{
    margin: 4px;
    padding: 2vh;
    font-size: 3vh;
    border: 1vh solid #000;
    width: 17vh;
    cursor: pointer;
    border: 0.2rem solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #ff4800,
                0 0 0.8rem #ff4800,
                0 0 2.8rem #ff4800,
                inset 0 0 1.3rem #ff6600;
}

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 14px;
}

select, option{
    font-size: 18px;
    border-radius: 15px;
}

.hero{
    margin-top: 5vh;
    background-position: center;
    display: flex;
    justify-content: center;
}

.input-group{
    margin-bottom: 6vh;
    position: relative;
}

.modal{
    background: #ffff;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    border: 10px solid rgb(125, 69, 238);
    box-shadow: 0 0 0 10px #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: none;
}

.modal.active{
    display: block;
}

.botao{
    border-radius: 5px;
    width: 30%;
    padding: 10px;
    outline: none;
    background-color: mediumpurple;
    color: white;
    top: 50px;
    align-items: center;
}

#titulo{
    padding: 20px;
}

#dataHora{
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    width: 30vh;
}

#mensagemtext{
    padding: 35px;
}